<launch>
  <node pkg="rostopic" type="rostopic" name="move_drone" output="screen" args="pub -r 10 /firefly/gazebo/command/motor_speed mav_msgs/Actuators '{angular_velocities: [100, 100, 500, 500, 100, 100]}'" />
  <node name="video" pkg="image_view" type="video_recorder" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/firefly/camera_sensor/camera_na/image_raw"/>
  </node>
</launch>
